version: '3'
services:
  backend:
    container_name: backend
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    command: npm run dev
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    environment:
      PORT: ${BACKEND_PORT}
      DATABASE_URL: ${DATABASE_URL}
      SHOPIFY_CLIENT_ID: ${SHOPIFY_CLIENT_ID}
      SHOPIFY_SECRET_KEY: ${SHOPIFY_SECRET_KEY}
      AUTH_0_CLIENT_ID: ${AUTH_0_CLIENT_ID}
      AUTH_0_CLIENT_SECRET: ${AUTH_0_CLIENT_SECRET}
      AUTH_0_DOMAIN: ${AUTH_0_DOMAIN}
      BASE_URL: ${BASE_URL}
      FRONT_END_URL: ${FRONT_END_URL}
    depends_on:
      - db
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    volumes:
      - mysql:/var/lib/mysql
volumes:
  mysql: ~