SHOPIFY_SECRET_KEY=abc1234abcd1234abcd1234abcd1234
SHOPIFY_CLIENT_ID=efgh5678efgh5678efgh5678efgh5678
BASE_URL=https://some-backend-hosted-url.amazonaws.com
MERCHANT_UI_URL="https://some-fronted-hosted-url.amazonaws.com"
PAYMENT_UI_URL="https://some-other-fronted-hosted-url.amazonaws.com"
DATABASE_URL="mysql://admin:password@database-url.com:3306/db-name"
TRM_API_KEY=111111-111111-111111-111111-111111
DATABASE_URL="mysql://admin:password@database-url.com:3306/db-name"
