service: backend-serverless
frameworkVersion: '3'
useDotenv: true
provider:
  name: aws
  runtime: nodejs18.x
  environment:
    SHOPIFY_SECRET_KEY: ${env:SHOPIFY_SECRET_KEY}
    SHOPIFY_CLIENT_ID: ${env:SHOPIFY_CLIENT_ID}
    BASE_URL: ${env:BASE_URL}
    MERCHANT_UI_URL: ${env:MERCHANT_UI_URL}
    DATABASE_URL: ${env:DATABASE_URL}
    PAYMENT_UI_URL: ${env:PAYMENT_UI_URL}
    TRANSACTION_REQUEST_SERVER_URL: ${env:TRANSACTION_REQUEST_SERVER_URL}
  httpApi:
    cors: true
package:
  excludeDevDependencies: false
  patterns:
    - 'node_modules/.prisma/**'
functions:
  api:
    handler: src/handlers/hello.hello
    events:
      - httpApi:
          path: /
          method: get
  install:
    handler: src/handlers/install.install
    events:
      - httpApi:
          path: /install
          method: get
  redirect:
    handler: src/handlers/redirect.redirect
    events:
      - httpApi:
          path: /redirect
          method: get
  payment:
    handler: src/handlers/payment.payment
    events:
      - httpApi:
          path: /payment
          method: post
  refund:
    handler: src/handlers/refund.refund
    events:
      - httpApi:
          path: /refund
          method: post
  helius:
    handler: src/handlers/helius.helius
    events:
      - httpApi:
          path: /helius
          method: post
  payment-transaction:
    handler: src/handlers/payment-transaction.paymentTransaction
    events:
      - httpApi:
          path: /payment-transaction
          method: post
  refund-transaction:
    handler: src/handlers/refund-transaction.refundTransaction
    events:
      - httpApi:
          path: /refund-transaction
          method: post
  payment-metadata:
    handler: src/handlers/payment-transaction.paymentMetadata
    events:
      - httpApi:
          path: /payment-transaction
          method: get
  payment-status:
    handler: src/handlers/payment-status.paymentStatus
    events:
      - httpApi:
          path: /payment-status
          method: get
plugins:
  - serverless-plugin-typescript
  - serverless-plugin-common-excludes # this should go before serverless-plugin-include-dependencies
  - serverless-plugin-include-dependencies